---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export const getStaticPaths = (() => {
  
  return [];
}) satisfies GetStaticPaths;

---

<BaseLayout>
  <div>page</div>
</BaseLayout>